<div class="card-component"  [ngStyle]="{'background': 'linear-gradient(90deg, rgba(77, 44, 19, 0) 0%, rgb(0 0 0 / 0%) 80% , rgb(255 255 255 / 98%) 100%), url(/assets/img/'+data.picture+')'}">

    <div class="picture" [ngStyle]="{'background': 'linear-gradient(90deg, rgba(0, 0, 0, 0.0001) 0%, #888888 30%, #666666 50%, rgba(51, 51, 51, 0.6) 71.88%)'}" >

    </div>

    <div *ngIf="thumbs.up>thumbs.down" class="card_result thumbs-up">
        <img src="assets/img/thumbs-up.svg" alt="thumbs up" />
    </div>
    <div *ngIf="thumbs.up<thumbs.down"  class="card_result thumbs-down">
        <img src="assets/img/thumbs-down.svg" alt="thumbs up" />
    </div>

    <div class="card-content">
        <div class="info">
            <div class="name">{{data.name}}</div>
            <div class="descript">{{data.description}}</div>
        </div>
        <div class="vote">
            <div class="date"  *ngIf="alreadyVoted==false" >{{timeAgo}} ago in {{data.category |   titlecase}} </div>
            <div class="date"  *ngIf="alreadyVoted==true" >Thank you for your vote!</div>
            <div class="vote-box">
                <div class="thumbs-up"  *ngIf="alreadyVoted==false" (click)="thumbSelected('up')" [ngClass]="{'selected': thumbs.selectedUp ? true : false }">
                    <img src="assets/img/thumbs-up.svg" alt="thumbs up" />
                </div>
                <div class="thumbs-down" *ngIf="alreadyVoted==false" (click)="thumbSelected('down')" [ngClass]="{'selected': thumbs.selectedDown? true : false }">
                    <img src="assets/img/thumbs-down.svg" alt="thumbs down" />
                </div>
                <div class="send-vote" *ngIf="alreadyVoted==false" (click)="sendVote(data._id)" [ngClass]="{'activated': thumbs.selectedUp || thumbs.selectedDown ? true : false }">
                    Vote Now
                </div>
                <div class="send-vote" *ngIf="alreadyVoted==true" (click)="voteAgain()" [ngClass]="{'activated': thumbs.selectedUp || thumbs.selectedDown ? true : false }">
                    Vote Again
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="thumbs-up"   [ngStyle]="{'width': thumbs.up + '%'}"  >
            <div class="image">
                <img src="assets/img/thumbs-up.svg" alt="thumbs up" />
            </div>
            <div class="count"> {{thumbs.up}}% </div>
        </div>
        <div class="thumbs-down" [ngStyle]="{'width': thumbs.down + '%'}" > 
            <div class="count"> {{thumbs.down}}% </div>
            <div class="image">
                <img src="assets/img/thumbs-down.svg" alt="thumbs down" />
            </div>
        </div>

    </div>